
                
            <!--Acordeon-->
            <div class="accordion accordion-flush" id="acordeon">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Experiencia
                    </button>
                </h2>
                
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="acordeon">
                    <div class="accordion-body">Trabaje en la producción de este proyecto que pueden ver y recorrer por ustedes mismos.<br>                       
                    <br>Realice prácticas de Angular para este proyecto y pude terminarlas. 
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Educación
                        </button>
                    </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="acordeon">
                    <div class="accordion-body"> Full Stack Developer Jr - Argentina Programa <br>
                    <br> Técnico en desarrollo web - Universidad Nacional del Comahue. Primer año en Curso. <br>
                <br> Licenciatura en Sistema de la información -Universidad Nacional del Comahue. Primer año en Curso.  
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Hard Skills
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" >
                        <div class="accordion-body" >  
                            <div class="row d-flex justify-content">
                                 <div class="container">
                                     <div class="row">
                                        <div class="col-md-6">
                                            <h3 class="progress-title">HTML5 - 100%</h3>
                                            <div class="progress red">
                                                <div class="progress-bar" style="width:100%; background:#f40a0a;"></div>
                                            </div>
                                           
                                            <h3 class="progress-title">CSS - 100%</h3>
                                            <div class="progress orange">
                                                <div class="progress-bar" style="width:100%; background:#f18800;"></div>
                                            </div>
                                            
                                            <h3 class="progress-title">JS - 100%</h3>
                                            <div class="progress green">
                                                <div class="progress-bar" style="width:100%; background:#1bab95;"></div>
                                            </div>
                                            
                                            <h3 class="progress-title">Angular - 100%</h3>
                                            <div class="progress rose">
                                                <div class="progress-bar" style="width:100%; background:#f27bb2;"></div>
                                            </div>
                                            
                                            <h3 class="progress-title">Mysql - 100%</h3>
                                            <div class="progress blue">
                                                <div class="progress-bar" style="width:100%; background:#362cff;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                            Soft Skills
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" >
                            <div class="accordion-body" >  
                                <div class="row d-flex justify-content">
                                     <div class="container">
                                         <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="progress-title">Buena comunicación - 100%</h3>
                                                <div class="progress light red">
                                                    <div class="progress-bar" style="width:100%; background:#f77272;"></div>
                                                </div>
                                               
                                                <h3 class="progress-title">Resolución de problemas - 100%</h3>
                                                <div class="progress light orange">
                                                    <div class="progress-bar" style="width:100%; background:#f1cd9f;"></div>
                                                </div>
                                                
                                                <h3 class="progress-title">Adaptabilidad - 100%</h3>
                                                <div class="progress light green">
                                                    <div class="progress-bar" style="width:100%; background:#75b2a9;"></div>
                                                </div>
                                                
                                                <h3 class="progress-title">Flexibilidad - 100%</h3>
                                                <div class="progress light rose">
                                                    <div class="progress-bar" style="width:100%; background:#eaadc9;"></div>
                                                </div>
                                                
                                                <h3 class="progress-title"> Gestión del tiempo - 100%</h3>
                                                <div class="progress light blue">
                                                    <div class="progress-bar" style="width:100%; background:#a6a2ee;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

